
body {
	padding: 0;
	margin: 0;
	background-color: #add8e6;
	font-family: Arial, sans-serif, serif;
}

#title {
	margin: 0;
	padding: 1rem;
	text-align: center;
	font: 4em 'Indie Flower', cursive;
	animation: titleAppear 5s ease-in 1 forwards;
}

@keyframes titleAppear {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.form-container {
	margin: 1em auto;
	width: 100%;
	text-align: center;
}

#listItem {
	padding-right: 1em;
}

.mainBtns {
	margin: .5em;
}

#printView #shoppingList h1 {
	animation: none;
}

#settings {
	display: none;
}

#settings-toggle {
	text-decoration: none;
}

#shoppingList {
	position: relative;
	width: 100%;
	margin: 0 auto;
	border: 0;
	border-radius: 10px;
	background: url(images/background-2.jpg) no-repeat 50% 50%;
	background-size: cover;
	text-align: center;
	animation: expandTopToBottom 3s ease-in-out 1 forwards;
}

@keyframes expandTopToBottom {
	0% {
		height: 0vh;
	}

	70% {

		height: 100vh;

	}

	95% {
		height: 75vh;
	}

	100% {
		min-height: 75vh;
		height: auto;
	}
}

#list-content {
	padding: 0 2em 1em;
	text-align: left;
	font: 3em 'Indie Flower', cursive;
	text-transform: capitalize;
}

#footer-main {
	width: 100%;
	min-height: 50px;
	box-sizing: border-box;
	padding: 1em;
	margin-top: 2em;
	background-color: #000;
	color: #fff;
	font-family: verdana, sans-serif, serif;
}

/*  Print Preview Window  */

#printView {
	background-color: #fff;
	font-family: 'Indie Flower', cursive;
}

/*  Larger Screens  */

@media only screen and (min-width: 768px) {
	#shoppingList, .form-container {
		width: 70%;
	}
}
